.template2-resume {
    width: 794px;
    min-height: 942px;
    margin-bottom: 60px
}

@media (max-width:794px) {
    .template2-resume {
        width: 100%
    }
}

@media print {
    @page {
        size: A4
    }

    .template2-resume {
        width: 100%;
        box-shadow: none
    }
}

.template2-resume {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .15)
}

.template2-resume .basic-info {
    padding: 18px 24px 12px
}

.template2-resume .main-info {
    padding: 0 24px 24px;
    background: #fff
}

.template2-resume .section-title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 8px;
    letter-spacing: 0;
    position: relative;
    display: flex
}

.template2-resume .section-title .title {
    width: auto
}

.template2-resume .section-title .title-addon {
    flex: 1 1;
    position: relative
}

.template2-resume .section-title .title-addon:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    left: 16px;
    height: 1px;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    background-color: currentColor;
    opacity: .54
}

.template2-resume .basic-info .section {
    border-radius: 0
}

.template2-resume .section:not(:first-of-type) {
    margin-top: 12px
}

.template2-resume .section .section-info {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, .85);
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.template2-resume .basic-info section .section-info .info-name {
    max-width: 198px;
    padding-right: 4px
}

.template2-resume .basic-info .name {
    margin: 0 0 8px 4px;
    font-size: 24px;
    line-height: 36px
}

.template2-resume .basic-info .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 12px
}

.template2-resume .basic-info .profile>div:first-of-type {
    flex: 1 1
}

.template2-resume .basic-info .profile>div:nth-of-type(2) {
    width: 150px
}

.template2-resume .basic-info .profile .profile-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4px
}

.template2-resume .basic-info .profile .profile-list>div {
    flex: 220px 1
}

.template2-resume .basic-info .profile .profile-list>div:not(:last-of-type) {
    margin-bottom: 4px
}

.template2-resume .basic-info .profile .profile-list .anticon {
    margin-right: 8px
}

.template2-resume .basic-info .section-skill .skill-item {
    display: flex;
    justify-content: space-between
}

.template2-resume .basic-info .section-skill .skill-item:not(:first-of-type) {
    margin-top: 2px
}

.template2-resume .basic-info .section-skill .skill-rate {
    font-size: 14px;
    display: flex
}

.template2-resume .basic-info .section-skill .skill-rate .ant-rate-star {
    margin-right: 4px
}

.template2-resume .basic-info .section-skill .skill-detail-item {
    margin-top: 4px
}

.template2-resume .basic-info section .sub-info {
    color: rgba(0, 0, 0, .45)
}

.template2-resume .basic-info .section-award .sub-info {
    font-size: 14px;
    margin-left: 8px
}

.template2-resume .basic-info .education-item:not(:first-of-type) {
    margin-top: 8px
}

.template2-resume .basic-info .section-work>div {
    line-height: 24px
}

.template2-resume .basic-info .section-work a.sub-info {
    font-size: 12px;
    margin-left: 8px
}

.template2-resume .main-info section {
    margin-bottom: 16px
}

.template2-resume .main-info section .section-detail {
    letter-spacing: 1.2px
}

.template2-resume .main-info section .section-detail:not(:first-of-type) {
    margin-top: 4px
}

.template2-resume .main-info .section-project .section-info .ant-tag,
.template2-resume .main-info .section-work-exp .section-info .ant-tag {
    line-height: 20px;
    height: 20px;
    border: none
}

.template2-resume .main-info .section-project .section-item:not(:first-of-type),
.template2-resume .main-info .section-work-exp .section-item:not(:first-of-type) {
    margin-top: 10px
}

.template2-resume .main-info .section-project .section-info .info-time,
.template2-resume .main-info .section-project .section-info .sub-info,
.template2-resume .main-info .section-work-exp .section-info .info-time,
.template2-resume .main-info .section-work-exp .section-info .sub-info {
    color: rgba(0, 0, 0, .45);
    font-size: 12px;
    margin-left: 8px;
    font-weight: 300
}

.template2-resume .main-info .section-project .project-content,
.template2-resume .main-info .section-project .work-description,
.template2-resume .main-info .section-work-exp .project-content,
.template2-resume .main-info .section-work-exp .work-description {
    white-space: normal
}

body[lang=en-US] .template2-resume .section-title:after {
    left: 188px
}