.template3-resume {
    width: 794px;
    min-height: 942px;
    margin-bottom: 60px
}

@media (max-width:794px) {
    .template3-resume {
        width: 100%
    }
}

@media print {
    @page {
        size: A4
    }

    .template3-resume {
        width: 100%;
        box-shadow: none
    }
}

.template3-resume {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .15)
}

.template3-resume .basic-info {
    padding: 24px 18px 24px 24px
}

.template3-resume .main-info {
    padding: 24px 24px 32px 32px;
    background: #fff
}

.template3-resume .ant-ribbon {
    height: 24px;
    line-height: 24px
}

.template3-resume .section-title {
    font-size: 16px;
    letter-spacing: 0
}

.template3-resume .ant-card-body {
    padding: 12px 24px
}

.template3-resume .basic-info .section {
    padding-top: 28px;
    border-radius: 0
}

.template3-resume .ant-ribbon-wrapper:not(:last-of-type) .ant-card-bordered {
    border-bottom: 0
}

.template3-resume section:not(:first-of-type) {
    margin-top: 24px
}

.template3-resume section .section-info {
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, .85);
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.template3-resume .basic-info section .section-info .info-name {
    max-width: 198px;
    padding-right: 4px
}

.template3-resume .basic-info .avatar {
    margin: 12px auto;
    display: block;
    width: 84px;
    height: 84px
}

.template3-resume .basic-info .name {
    margin: 0 0 8px 4px;
    font-size: 24px;
    line-height: 36px
}

.template3-resume .basic-info .profile {
    margin-bottom: 16px
}

.template3-resume .basic-info .profile .profile-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4px
}

.template3-resume .basic-info .profile .profile-list>div {
    display: flex;
    align-items: center;
    flex: 220px 1;
    margin-right: 4px
}

.template3-resume .basic-info .profile .profile-list>div:not(:last-of-type) {
    margin-bottom: 4px
}

.template3-resume .basic-info .profile .profile-list .anticon {
    margin-right: 6px
}

.template3-resume .basic-info .section-skill .skill-item {
    display: flex;
    justify-content: space-between
}

.template3-resume .basic-info .section-skill .skill-item:not(:first-of-type) {
    margin-top: 2px
}

.template3-resume .basic-info .section-skill .skill-rate {
    font-size: 14px;
    display: flex
}

.template3-resume .basic-info .section-skill .skill-rate .ant-rate-star {
    margin-right: 4px
}

.template3-resume .basic-info .section-skill .skill-detail-item {
    margin-top: 4px
}

.template3-resume .basic-info section .sub-info {
    color: rgba(0, 0, 0, .45)
}

.template3-resume .basic-info .section-award .sub-info {
    font-size: 14px;
    margin-left: 8px
}

.template3-resume .basic-info .education-item:not(:first-of-type) {
    margin-top: 8px
}

.template3-resume .basic-info .section-work>div {
    line-height: 24px
}

.template3-resume .basic-info .section-work a.sub-info {
    font-size: 12px;
    margin-left: 8px
}

.template3-resume .main-info section {
    margin-bottom: 16px
}

.template3-resume .main-info section .section-header {
    display: flex;
    margin-bottom: 10px
}

.template3-resume .main-info section .section-header img {
    margin-right: 8px
}

.template3-resume .main-info section .section-header h1 {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 200px;
    width: -webkit-max-content;
    width: max-content;
    line-height: 24px;
    padding: 0 100px 0 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: -12px
}

.template3-resume .main-info section .section-header h1:before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #fff;
    position: absolute;
    right: -9px;
    top: 4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.template3-resume .main-info section .section-detail {
    letter-spacing: 1.2px
}

.template3-resume .main-info section .section-detail:not(:first-of-type) {
    margin-top: 4px
}

.template3-resume .main-info .section-project .section-info .ant-tag,
.template3-resume .main-info .section-work-exp .section-info .ant-tag {
    line-height: 20px;
    height: 20px;
    border: none
}

.template3-resume .main-info .section-project .section-item:not(:first-of-type),
.template3-resume .main-info .section-work-exp .section-item:not(:first-of-type) {
    margin-top: 18px
}

.template3-resume .main-info .section-project .section-info .info-time,
.template3-resume .main-info .section-project .section-info .sub-info,
.template3-resume .main-info .section-work-exp .section-info .info-time,
.template3-resume .main-info .section-work-exp .section-info .sub-info {
    color: rgba(0, 0, 0, .45);
    font-size: 12px;
    margin-left: 8px;
    font-weight: 300
}

.template3-resume .main-info .section-project .project-content,
.template3-resume .main-info .section-project .work-description,
.template3-resume .main-info .section-work-exp .project-content,
.template3-resume .main-info .section-work-exp .work-description {
    white-space: normal
}