.template1-resume {
    width: 794px;
    min-height: 942px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 2fr 3fr
}

@media (max-width:794px) {
    .template1-resume {
        width: 100%;
        grid-template-columns: 1fr
    }
}

@media print {
    @page {
        size: A4
    }

    .template1-resume {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        box-shadow: none
    }
}

.template1-resume {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .15)
}

.template1-resume .basic-info {
    padding: 24px 18px 24px 24px
}

.template1-resume .main-info {
    height: 100%;
    padding: 33px 24px 32px 20px;
    background: #f2f2f2
}

.template1-resume section:not(:first-of-type) {
    margin-top: 24px
}

.template1-resume section .section-title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0
}

.template1-resume section .section-info {
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, .85);
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.template1-resume .basic-info section .section-info .info-name {
    max-width: 198px;
    padding-right: 4px
}

.template1-resume .basic-info .avatar {
    margin: 12px auto;
    display: block;
    width: 84px;
    height: 84px
}

.template1-resume .basic-info .name {
    margin: 8px auto 24px;
    font-size: 24px;
    text-align: center
}

.template1-resume .basic-info .profile .profile-list {
    margin-bottom: 24px
}

.template1-resume .basic-info .profile .profile-list>div {
    display: flex;
    align-items: center
}

.template1-resume .basic-info .profile .profile-list>div:not(:last-of-type) {
    margin-bottom: 4px
}

.template1-resume .basic-info .profile .profile-list .anticon {
    margin-right: 8px
}

.template1-resume .basic-info .section-skill .section-info {
    margin-top: 12px
}

.template1-resume .basic-info .section-skill .skill-rate {
    font-size: 14px;
    display: flex
}

.template1-resume .basic-info .section-skill .skill-rate .ant-rate-star {
    margin-right: 4px
}

.template1-resume .basic-info .section-skill .skill-detail-item {
    margin-top: 4px
}

.template1-resume .basic-info section .sub-info {
    color: rgba(0, 0, 0, .45)
}

.template1-resume .basic-info .section-award .sub-info {
    font-size: 14px;
    margin-left: 8px
}

.template1-resume .basic-info .education-item:not(:first-of-type) {
    margin-top: 8px
}

.template1-resume .basic-info .section-work>div {
    line-height: 24px
}

.template1-resume .basic-info .section-work a.sub-info {
    font-size: 12px;
    margin-left: 8px
}

.template1-resume .main-info section {
    margin-bottom: 16px
}

.template1-resume .main-info section .section-header {
    display: flex;
    margin-bottom: 10px
}

.template1-resume .main-info section .section-header img {
    margin-right: 8px
}

.template1-resume .main-info section .section-header h1 {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    width: 200px;
    width: -webkit-max-content;
    width: max-content;
    line-height: 26px;
    padding: 0 100px 0 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}

.template1-resume .main-info section .section-header h1:before {
    content: "";
    display: block;
    width: 18.4px;
    height: 18.4px;
    background: #f2f2f2;
    position: absolute;
    right: -9px;
    top: 4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.template1-resume .main-info section .section-detail {
    letter-spacing: 1.2px
}

.template1-resume .main-info section .section-detail:not(:first-of-type) {
    margin-top: 4px
}

.template1-resume .main-info .section-project .section-info .ant-tag,
.template1-resume .main-info .section-work-exp .section-info .ant-tag {
    line-height: 20px;
    height: 20px;
    border: none
}

.template1-resume .main-info .section-project .section-item:not(:first-of-type),
.template1-resume .main-info .section-work-exp .section-item:not(:first-of-type) {
    margin-top: 18px
}

.template1-resume .main-info .section-project .section-info .info-time,
.template1-resume .main-info .section-project .section-info .sub-info,
.template1-resume .main-info .section-work-exp .section-info .info-time,
.template1-resume .main-info .section-work-exp .section-info .sub-info {
    color: rgba(0, 0, 0, .45);
    font-size: 12px;
    margin-left: 8px;
    font-weight: 300
}

.template1-resume .main-info .section-project .project-content,
.template1-resume .main-info .section-project .work-description,
.template1-resume .main-info .section-work-exp .project-content,
.template1-resume .main-info .section-work-exp .work-description {
    white-space: normal
}

.template1-resume .section-aboutme>div {
    margin: 6px 0
}